padding-x(spacing)
	padding-left spacing
	padding-right spacing
padding-y(spacing)
	padding-top spacing
	padding-bottom spacing

margin-x(spacing)
	margin-left spacing
	margin-right spacing
margin-y(spacing)
	margin-top spacing
	margin-bottom spacing

size(size-x, size-y = size-x)
	width size-x
	height size-y
max-size(size-x, size-y = size-x)
	max-width size-x
	max-height size-y
min-size(size-x, size-y = size-x)
	min-width size-x
	min-height size-y
