$padding-xs
	padding $length_xs
$padding-s
	padding $length_s
$padding-m
	padding $length_m
$padding-l
	padding $length_l
$padding-xl
	padding $length_xl

$padding-x-xs
	padding-x $length_xs
$padding-x-s
	padding-x $length_s
$padding-x-m
	padding-x $length_m
$padding-x-l
	padding-x $length_l
$padding-x-xl
	padding-x $length_xl

$padding-y-xs
	padding-y $length_xs
$padding-y-s
	padding-y $length_s
$padding-y-m
	padding-y $length_m
$padding-y-l
	padding-y $length_l
$padding-y-xl
	padding-y $length_xl
