@import 'rely/reset'

html
	width 100%
	// height 100%

*, *:before, *:after
	position relative
	background-origin border-box
	background-repeat no-repeat
	// font-smoothing antialiased
	// text-rendering: optimizeLegibility
	resize none
	-webkit-overflow-scrolling touch
	// overflow hidden
table
	table-layout fixed
	& th, td
		vertical-align baseline

html, body, #app
	font-size 100%


:root
	scroll-behavior: smooth
