$length_xs = 0.25rem // 4
$length_s  = 0.5rem // 8
$length_m  = 1rem // 16
$length_l  = 2rem // 32
$length_xl = 4rem // 64

$length_full = 100%
$length_read = 32em
$length_contentw = max-content
$length_contenth = fit-content

// $size_xs = 1rem // 16
// $size_s  = 2rem // 32
// $size_m  = 3rem // 48
// $size_l  = 4rem // 64
// $size_xl = 5rem // 80

// $root_h_full = 100vh
// $root_w_full = 100vw
